@import "../../../assets/stylus/mixins.styl"
.remember
  .server
    width 100%
    height 750px
    .serverTitle
      height 120px
      display flex
      justify-content center
      align-items center
      flex-direction column
      .foryou
        font-size 30px
    .bai
      width 95%
      padding 20px
      img
        width 97%
        border-radius 20px 20px 0 0
      .baibottom
        border 1px solid #ededed
        height 180px
        border-top 0px
        width 97%
        .baiTitle
          font-size 32px
          margin 40px
          span
            float right
        .baiInfo
          font-size 28px
          color #7f7f7f
          padding-left 20px

  .drink
    border 1px solid #ededed
    margin-bottom 40px
    width 96%
    height 250px
    padding 20px
    display flex
    justify-content center
    align-items center
    .drinkLift
      width 60%
      height 250px
      display flex
      justify-content center
      flex-direction column
      .drinkTop
        font-size 32px
        margin 20px
      .drinkInfo
        font-size 28px
        color #7f7f7f
        margin-left 20px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
    .drinkImg
      width 300px
      width 40%
      img
        width 98%