@import "../../../assets/stylus/mixins.styl"
.listWrapper
  width 100%
  height 70px
  .topList
    width 1300px
    height 70px
    float left
    li
      float left
      margin-left 50px
      a
        color #333
        font-size 30px
        &.on
          border-bottom 1px solid #B4282D
          color #B4282D
