@import "../../../assets/stylus/mixins.styl"
.home_nav
  bottom-border-1px(#e4e4e4)
  height 420px
  background #fff
  .swiper-container
    width 100%
    height 100%
    .swiper-wrapper
      width 100%
      height 100%
      .swiper-slide
        display flex
        justify-content center
        align-items flex-start
        a
          width 100%
          height 100%
          img
            display inline-block
            width 100%
            height 100%
    .swiper-pagination
      >span.swiper-pagination-bullet-active
        background #02a774