@import "../../../assets/stylus/mixins.styl"
.veryGoodsAll
  .veryGoods
    width 100%
    height 650px
    padding 20px
    box-sizing border-box
    .veryGoodsTitle
      height 120px
      display flex
      justify-content center
      align-items center
      flex-direction column
      .foryou
        font-size 30
    .goodsImg
      width 100%
      height 400px
      img
        width 100%
        height 100%
    .goodsTitle
      font-size 32px
      margin 20px
    .goodsInfo
      font-size 28px
      color #7f7f7f
      padding-left 20px
  .qing
    border 1px solid #ededed
    margin-bottom 40px
    width 96%
    height 250px
    padding 20px
    display flex
    margin-top 30px
    justify-content center
    align-items center
    .drinkLift
      width 60%
      height 250px
      display flex
      justify-content center
      flex-direction column
      .drinkTop
        font-size 32px
        margin 20px
      .drinkInfo
        font-size 28px
        color #7f7f7f
        margin-left 20px
    .drinkImg
      width 40%
      img
        width 92%